<a href="https://colab.research.google.com/github/thiennguyen2310/Layout-and-Widgets/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
docA = "Trường Đại học Kinh Tế TPHCM"
docB = "University of Economics HCMc"

In [24]:
wordsA = docA.split()
wordsB = docB.split()

In [25]:
wordsA

['Trường', 'Đại', 'học', 'Kinh', 'Tế', 'TPHCM']

In [26]:
wordsB

['University', 'of', 'Economics', 'HCMc']

In [27]:
wordSet = set(wordsA).union(set(wordsB))

In [28]:
wordSet

{'Economics',
 'HCMc',
 'Kinh',
 'TPHCM',
 'Trường',
 'Tế',
 'University',
 'học',
 'of',
 'Đại'}

In [29]:
wordDictA = dict.fromkeys(wordSet, 0) 
wordDictB = dict.fromkeys(wordSet, 0)

In [30]:
wordDictA

{'TPHCM': 0,
 'Economics': 0,
 'of': 0,
 'Trường': 0,
 'Tế': 0,
 'Kinh': 0,
 'University': 0,
 'học': 0,
 'HCMc': 0,
 'Đại': 0}

In [31]:
for word in wordsA:
    wordDictA[word]+=1
    
for word in wordsB:
    wordDictB[word]+=1

In [32]:
wordDictA

{'TPHCM': 1,
 'Economics': 0,
 'of': 0,
 'Trường': 1,
 'Tế': 1,
 'Kinh': 1,
 'University': 0,
 'học': 1,
 'HCMc': 0,
 'Đại': 1}

In [33]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   TPHCM  Economics  of  Trường  Tế  Kinh  University  học  HCMc  Đại
0      1          0   0       1   1     1           0    1     0    1
1      0          1   1       0   0     0           1    0     1    0

In [34]:
def computeTF(wordDict, words):
    tfDict = {}
    wordsCount = len(words)
    for word, count in wordDict.items():
        tfDict[word] = count/float(wordsCount)
    return tfDict

In [35]:
tfdocA = computeTF(wordDictA, wordsA)
tfdocB = computeTF(wordDictB, wordsB)

In [36]:
tfdocA

{'TPHCM': 0.16666666666666666,
 'Economics': 0.0,
 'of': 0.0,
 'Trường': 0.16666666666666666,
 'Tế': 0.16666666666666666,
 'Kinh': 0.16666666666666666,
 'University': 0.0,
 'học': 0.16666666666666666,
 'HCMc': 0.0,
 'Đại': 0.16666666666666666}

In [37]:
tfdocB

{'TPHCM': 0.0,
 'Economics': 0.25,
 'of': 0.25,
 'Trường': 0.0,
 'Tế': 0.0,
 'Kinh': 0.0,
 'University': 0.25,
 'học': 0.0,
 'HCMc': 0.25,
 'Đại': 0.0}

In [38]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [39]:
idfs = computeIDF([wordDictA, wordDictB])

In [40]:
idfs

{'TPHCM': 0.3010299956639812,
 'Economics': 0.3010299956639812,
 'of': 0.3010299956639812,
 'Trường': 0.3010299956639812,
 'Tế': 0.3010299956639812,
 'Kinh': 0.3010299956639812,
 'University': 0.3010299956639812,
 'học': 0.3010299956639812,
 'HCMc': 0.3010299956639812,
 'Đại': 0.3010299956639812}

In [41]:
def computeTFIDF(tfDocs, idfs):
    tfidf = {}
    for word, val in tfDocs.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [42]:
tfidfDocA = computeTFIDF(tfdocA, idfs)
tfidfDocB = computeTFIDF(tfdocB, idfs)

In [43]:
import pandas as pd
pd.DataFrame([tfidfDocA, tfidfDocB])

,TPHCM,Economics,of,Trường,Tế,Kinh,University,học,HCMc,Đại
0,0.050172,0.000000,0.000000,0.050172,0.050172,0.050172,0.000000,0.050172,0.000000,0.050172
1,0.000000,0.075257,0.075257,0.000000,0.000000,0.000000,0.075257,0.000000,0.075257,0.000000